################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ATM-project/x64/Debug
/x64/Debug
/.vs/ATM-project
